.idea/
mvenv/
gmtool/migrations/
portfolio/__pycache__/__init__.cpython-38.pyc
portfolio/__pycache__/settings.cpython-38.pyc
gateway/__init__.py
gateway/migrations/__init__.py
portfolio/settings/secret_key.json
portfolio/settings/__pycache__/base.cpython-38.pyc
portfolio/settings/__pycache__/__init__.cpython-38.pyc
gmtool/__pycache__/
portfolio/__pycache__/
gateway/__pycache__/
db.sqlite3
gateway/Forms/__pycache__/form.cpython-38.pyc
portfolio/settings/smtp_key.json
gateway/migrations/__pycache__/__init__.cpython-38.pyc
gmtool/gm/__pycache__/view.cpython-38.pyc
gmtool/gm/__pycache__/model.cpython-38.pyc
gmtool/gm/__pycache__/__init__.cpython-38.pyc
gateway/contact/__pycache__/form.cpython-38.pyc
static/admin/
static/gateway/img/icon_gmtool.png
static/gateway/img/icon_commingsoon.png
static/gateway/css/album.css
static/gmtool/
gmtool/gm/__pycache__/form.cpython-38.pyc
gmtool/manage/__pycache__/
gmtool/templatetags/__pycache__/
gmtool/log/__pycache__/
gmtool/files/__pycache__/model.cpython-38.pyc
gmtool/files/__pycache__/form.cpython-38.pyc
gmtool/files/__pycache__/view.cpython-38.pyc
