{%extends 'gateway/base.html'%}

{%block contents%}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm">
        {% if form %}
        <form class="form-horizontal" action="" method="post">
        {%csrf_token%}
        <fieldset>
          <legend class="text-center">Contact us</legend>
          <!-- Name input-->
          <div class="form-group">
            <label class="col-md-3 control-label" for='{{form.name.id_for_label}}'>{{form.name.label}}</label>
            <div class="col-md-9">
              {{form.name}}
            </div>
          </div>

          <!-- Email input-->
          <div class="form-group">
            <label class="col-md-3 control-label" for='{{form.email.id_for_label}}'>{{form.email.label}}</label>
            <div class="col-md-9">
              {{form.email}}
            </div>
          </div>

          <!-- Message body -->
          <div class="form-group">
              <label class="col-md-3 control-label" for='{{form.msg_body.id_for_label}}'>{{form.msg_body.label}}</label>
            <div class="col-md-9">
              {{form.msg_body}}
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
        </fieldset>
        </form>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{%endblock%}
