{%extends 'gateway/base.html'%}

{%block contents%}


  <section class="jumbotron text-center">
    <div class="container">
      <h1>안녕하세요</h1>
      <p class="lead text-muted">
        작업중인 웹 서비스들 입니다.<br>
        서비스별 간단한 설명과 해당 서비스에 접근할 수 있는 view 버튼이 있습니다.<br>
        모든 서비스들은 django 를 활용하여 만들었습니다.</p>
      <p>
        <a href="https://www.djangoproject.com/" class="btn btn-primary my-2"> Go to Django Official Web page</a>
<!--        <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      {%for app in apps%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{app.0}}">
            <div class="card-body">
              <p class="card-text">{{app.2}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="{%url app.3%}" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                  </form>
                </div>
<!--                <small class="text-muted">9 mins</small>-->
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{%endblock%}
