[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/release/portfolio_django/mvenv/bin/uwsgi -i /home/ubuntu/release/portfolio_django/.config/uwsgi/portfolio_live.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target