{% extends 'gmtool/base.html' %}

{% block contents %}
{% load static %}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
			{%if form%}
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                  method="post">
                <div class="input-group-append">
                    {%csrf_token%}
                    <div id="dataTable_filter" class="dataTables_filter">
                        <label>
							Who&nbsp;:&nbsp;{{form.who}}&nbsp;
							&nbsp;Where&nbsp;:&nbsp;{{form.where}}&nbsp;
							&nbsp;What&nbsp;:&nbsp;{{form.what}}&nbsp;
							&nbsp;How&nbsp;:&nbsp;{{form.how}}&nbsp;
							&nbsp;From&nbsp;:&nbsp;{{form.when_from}}&nbsp;
							&nbsp;To&nbsp;:&nbsp;{{form.when_to}}&nbsp;
                            Desc&nbsp;:&nbsp;{{form.desc}}&nbsp;
                            <button class="btn btn-primary" type="submit" >
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </label>
                    </div>
                </div>
            </form>
			{%endif%}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gm log list</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="active">
                <ul class="subactive">
                    <table class="table table-bordered dataTable" id="activeTable" width="100%"
                           cellspacing="0" role="grid" aria-describedby="dataTable_info"
                           style="width: 100%;">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Name: activate to sort column descending" style="width: 250px;">
                                When
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="Position: activate to sort column ascending"
                                style="width: 221px;">
								Who
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="Office: activate to sort column ascending"
                                style="width: 200px;">
								Where
                            </th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="Office: activate to sort column ascending"
                                style="width: 200px;">
								What
                            </th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="Office: activate to sort column ascending"
                                style="width: 200px;">
								How
                            </th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1" aria-label="Office: activate to sort column ascending"
                                style="width: 200px;">
								Desc
                            </th>
                        </tr>
                        </thead>
                        <tbody>
						{% if log_list%}
						{% for log in log_list%}
							<tr>
								<td>{{log.date_logged|date:'Y-m-d H-i-s'}}</td>
								<td>{{log.gm}}</td>
								<td>{{log.get_str_where}}</td>
								<td>{{log.get_str_what}}</td>
								<td>{{log.get_str_how}}</td>
								<td>{{log.desc}}</td>
							</tr>
						{% endfor %}
						{% endif %}
                        </tbody>
                    </table>
					{% include "gmtool/paginationbar.html"%}
                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
	var opts_where = document.getElementById("id_where");
	var opts_what = document.getElementById("id_what");
	var opts_how = document.getElementById("id_how");

	var default_opt = {{form.get_default_choices_str|safe}};
	var where_opt = {{form.get_where_tuple_list|safe}};

	var gm_account_what = {{form.get_gm_account_what|safe}};
	var gm_account_sign_how = {{form.get_gm_account_sign_how|safe}};
	var gm_account_pw_how = {{form.get_gm_account_password_how|safe}};

	var gm_manage_what = {{form.get_gm_manage_what|safe}};
	var gm_manage_permission_how = {{form.get_gm_manage_permission_how|safe}};

	$(".dormant").click(function(){
		var curtable = $(this).find(".subdormant")
		if(curtable.is(":visible"))
			curtable.slideUp();
		else
			curtable.slideDown();
	})

	$(".active").click(function(){
		var curtable = $(this).find(".subactive")
		if(curtable.is(":visible"))
			curtable.slideUp();
		else
			curtable.slideDown();
	})


	setWhereVals = function(vals)
	{
		vals.forEach(function(ele, idx, arr)
		{
			var newOp = document.createElement("option");
			newOp.value = idx;
			newOp.text = ele;
			opts_where.add(newOp);
		})
	}

	setWhatVals = function(vals)
	{
		console.log("setWhat called");
		opts_what.length = 0;
		vals.forEach(function(ele, idx, arr)
		{
			console.log("new option add");
			var newOp = document.createElement("option");
			newOp.value = idx;
			newOp.text = ele;
			opts_what.add(newOp);
		})
	}

	setHowVals = function(vals)
	{
		opts_how.length = 0;
		vals.forEach(function(ele, idx, arr)
		{
			var newOp = document.createElement("option");
			newOp.value = idx;
			newOp.text = ele;
			opts_how.add(newOp);
		})
	}


	whereSelectedFunc = function(curWhere)
	{
		switch(Number(curWhere))
		{
			case 1: //gm_Account
				setWhatVals(gm_account_what);
				setHowVals(default_opt);
				break;
			case 2: //gm_manage
				setWhatVals(gm_manage_what);
				setHowVals(default_opt);
				break;
			default:
				setWhatVals(default_opt);
				setHowVals(default_opt);
				break;
		}
	}


	whatSelectedFunc = function(val)
	{
		var curWhere = Number(opts_where.value);
		var curWhat = Number(val);

		opts_how.length = 0;

		switch(curWhere)
		{
			case 1:
			{
				switch(curWhat)
				{
					case 1:
						setHowVals(gm_account_sign_how);
					break;
					case 2:
						setHowVals(gm_account_pw_how);
					break;
					default:
						setHowVals(default_opt);
					break;
				}
			}
			break;
			case 2:
			{
				switch(curWhat)
				{
					case 1:
						setHowVals(gm_manage_permission_how);
					break;
					default:
						setHowVals(default_opt);
					break;
				}
			}
			break;
			default:
				setWhatVals(default_opt);
				setHowVals(default_opt);
			break;
		}
	}

	howSelectedFunc = function(val)
	{
	}
</script>

{% endblock %}